@use 'sass:color';
@use 'sass:math';
@use '../../node_modules/@brybrant/sass-okhsv-okhsl' as convert;

// particle keyframes
@keyframes fire-particle {
  10% {
    opacity: 1;
    transform: scale(0.5) translate(-250%, -250%);
  }

  20% {
    opacity: 0;
    transform: scale(1) translate(-500%, -500%);
  }
}

// fragment keyframes
@keyframes fire-fragment-left {
  40% {
    opacity: 1;
  }

  80% {
    transform: rotate(179deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes fire-fragment-right {
  40% {
    opacity: 1;
  }

  80% {
    transform: rotate(-179deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

// core keyframes
@keyframes fire-core {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0) scale(0);
  }
}

.background {
  background: linear-gradient(
    convert.color_to_hex(convert.okhsv_to_rgba(29deg, 0.9, 0.5)),
    convert.color_to_hex(convert.okhsv_to_rgba(29deg, 0.8, 0.7)),
  );
}

// particle
.particle_container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: row wrap;
  transform: rotate(45deg);

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background: radial-gradient(
      closest-side,
      #fff,
      convert.okhsv_to_rgba(85deg, 0.2, 0.94, 0.8),
      convert.okhsv_to_rgba(71deg, 0.4, 0.88, 0.6),
      convert.okhsv_to_rgba(57deg, 0.6, 0.82, 0.4),
      convert.okhsv_to_rgba(43deg, 0.8, 0.76, 0.2),
      convert.okhsv_to_rgba(29deg, 1, 0.7, 0),
    );
    transform: scale(2);
  }
}

.particle {
  width: 6.25%;
  height: 6.25%;
  margin: 3.125%;
  border-radius: 50%;
  background: #ff0;
  opacity: 0;
  transform: scale(0);
  animation: 10s linear 0s infinite fire-particle;
  will-change: opacity, transform;
}

// fragment
.fragment_container {
  position: absolute;
  inset: 0;

  &:before {
    content: '';
    position: absolute;
    top: 2.5rem;
    left: calc(50% - 2.25rem);
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: radial-gradient(closest-side, #fff, #fe3, #f30);
    filter: blur(8px);
    mix-blend-mode: plus-lighter;
  }
}

.fragment {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: 1s linear 0s infinite fire-fragment-left;
  mix-blend-mode: plus-lighter;
  will-change: opacity, transform;

  &:nth-child(odd) {
    animation-name: fire-fragment-right;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
  }
}

// core
.core_container {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.core {
  position: absolute;
  top: 0;
  left: calc(50% - 2.25rem);
  width: 4.5rem;
  height: 100%;

  &:before, &:after {
    content: '';
    position: absolute;
    top: -2rem;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-bottom: 0.125rem solid #ff0;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(3.5rem) scale(1);
    animation: 1s ease-out 0s infinite fire-core;
    will-change: opacity, transform;
  }
}

.button {
  background: convert.color_to_hex(convert.okhsv_to_rgba(29deg, 0.8, 0.6));

  &:hover {
    background: convert.color_to_hex(convert.okhsv_to_rgba(29deg, 0.8, 0.65));
  }

  &:active {
    background: convert.color_to_hex(convert.okhsv_to_rgba(29deg, 0.8, 0.55));
  }
}

// particle animation
@for $i from 1 through 64 {
  .particle:nth-child(#{$i}) {
    animation-delay: 10s * math.random();
  }
}

// fragment animation
@for $i from 1 through 8 {
  $i2: $i * 2;
  $i1: $i2 - 1;
  $color: color.mix(#f30, #fe3, 100% - math.div(100%, 8) * $i);
  $scale: -1rem + math.div(1rem, 4) * ($i - 1);

  .fragment {
    &:nth-child(#{$i1}), &:nth-child(#{$i2}) {
      inset: $scale + 0.5;
      transform: translateY($scale);

      &:before {
        background: radial-gradient(closest-side, $color, rgba($color, 0));
        transform: translateY(2rem - math.div(2rem, 8) * ($i - 1));
      }
    }

    &:nth-child(#{$i1}) {
      animation-duration: 0.5s * math.random() + 0.5;
    }

    &:nth-child(#{$i2}) {
      animation-duration: 0.5s * math.random() + 0.5;
    }
  }
}

// core animation
@for $i from 1 through 4 {
  .core:nth-child(#{$i}) {
    &:before {
      animation-duration: 1s * math.random() + 0.5;
      animation-delay: 0.2s * $i;
    }

    &:after {
      animation-duration: 1s * math.random() + 0.5;
      animation-delay: 0.2s * $i;
    }
  }
}