@use 'sass:color';
@use 'sass:math';

// particle keyframes
@keyframes fireParticle {
  10% {
    opacity: 1;
    transform: scale(0.5) translate(-250%, -250%);
  }
  20% {
    opacity: 0;
    transform: scale(1) translate(-500%, -500%);
  }
}

// fragment keyframes
@keyframes fireFragmentBefore {
  0% {
    top: 60%;
  }
}
@keyframes fireFragment1 {
  50% {
    opacity: 1;
    transform: rotate(-90deg);
  }
  75% {
    transform: rotate(-170deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes fireFragment2 {
  50% {
    opacity: 1;
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(170deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

// core keyframes
@keyframes fireCore {
  0% {
    opacity: 1;
  }
  100% {
    bottom: 4.5rem;
    opacity: 0;
    transform: scale(0);
  }
}

.fire {
  background: linear-gradient(oklab(0.3 0.12 0.06), oklab(0.4 0.12 0.06));
  // element
  .element:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      closest-side,
      #fff,
      hsla(30, 100%, 88%, .8),
      hsla(24, 95%, 76%, .6),
      hsla(18, 90%, 64%, .4),
      hsla(12, 85%, 52%, .2),
      hsla(6, 80%, 40%, 0),
    );
    transform: scale(2);
  }
  // particle
  .particle-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    transform: rotate(45deg);
  }
  .particle {
    margin: 3.125%;
    border-radius: 50%;
    width: 6.25%;
    height: 6.25%;
    background: #ff0;
    opacity: 0;
    transform: scale(0);
    will-change: opacity, transform;
    animation: 10s linear 0s infinite fireParticle;
  }
  // fragment
  .fragment-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 2.5rem;
      left: calc(50% - 2.25rem);
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      background: radial-gradient(closest-side, #fff, #fe3, #f30);
      filter: blur(8px);
      mix-blend-mode: plus-lighter;
    }
  }
  .fragment {
    position: absolute;
    top: 0;
    left: calc(50% - 0.75rem);
    width: 1.5rem;
    height: 100%;
    opacity: 0;
    mix-blend-mode: plus-lighter;
    will-change: opacity, transform;
    animation: 1s linear 0s infinite fireFragment1;
    &:nth-child(odd) {
      animation-name: fireFragment2;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 1.5rem;
      will-change: top;
      animation: 1s linear 0s infinite fireFragmentBefore;
    }
  }
  // core
  .core-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .core {
    position: absolute;
    top: 0;
    left: calc(50% - 2.25rem);
    width: 4.5rem;
    height: 100%;
    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      border-bottom: 0.125rem solid #ff0;
      width: 4.5rem;
      height: 4.5rem;
      opacity: 0;
      filter: blur(4px);
      will-change: bottom, opacity, transform;
      animation: 1s ease-out 0s infinite fireCore;
    }
  }
  .button {
    background: oklab(0.5 0.12 0.06);
    &:hover {
      background: oklab(0.55 0.12 0.06);
    }
    &:active {
      background: oklab(0.45 0.12 0.06);
    }
  }
}

// particle animation
@for $i from 1 through 64 {
  .fire .particle:nth-child(#{$i}) {
    animation-delay: 10s * math.random();
  }
}

// fragment animation
@for $i from 1 through 16 {
  $top: math.div(60%, 16) * $i + 60%;
  $color: color.mix(#f30, #fe3, math.div(100%, 16) * $i);
  $duration: 1s * math.random() + 0.5;

  .fire .fragment:nth-child(#{$i}) {
    animation-duration: $duration;
    &:before {
      top: $top;
      background: radial-gradient(closest-side, $color, rgba($color, 0));
      transform: translateY(-50%) scale(5 - (math.div(1, 8) * $i));
      animation-duration: $duration;
    }
  }
}

// core animation
@for $i from 1 through 4 {
  .fire .core:nth-child(#{$i}) {
    &:before {
      animation-duration: 1s * math.random() + 0.5;
      animation-delay: 0.2s * $i;
    }
    &:after {
      animation-duration: 1s * math.random() + 0.5;
      animation-delay: 0.2s * $i;
    }
  }
}