@use 'sass:color';
@use 'sass:math';

// particle keyframes
@keyframes water-particle {
  100% {
    opacity: 1;
    transform: translateY(6rem) scale(0);
  }
}

// fragment keyframes
@keyframes water-fragment {
  100% {
    transform: rotate(45deg);
  }
}

// core keyframes
@keyframes water-core {
  100% {
    opacity: 1;
    transform: scale(0);
  }
}

.water {
  background: linear-gradient(oklab(30% 0 -0.1), oklab(40% 0 -0.1));

  // particle
  .particle-container {
    position: absolute;
    inset: 0;

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
      background: radial-gradient(
        closest-side,
        #fff,
        hsla(190 100% 86% / 80%),
        hsla(200 90% 72% / 60%),
        hsla(210 70% 58% / 40%),
        hsla(220 60% 44% / 20%),
        hsla(230 50% 30% / 0%),
      );
      transform: scale(2);
    }
  }

  .particle {
    position: absolute;
    top: 0;
    left: calc(50% - 0.25rem);
    width: 0.5rem;
    height: 100%;

    &:before, &:after {
      content: '';
      position: absolute;
      top: -40%;
      left: 0;
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: #4af;
      opacity: 0;
      animation: 1s ease-in 0s infinite water-particle;
      will-change: opacity, transform;
    }
  }

  // fragment
  .fragment-container {
    position: absolute;
    inset: 0;
    filter: blur(4px);
    animation: 1s linear 0s infinite water-fragment;
    mix-blend-mode: plus-lighter;
    will-change: transform;
  }

  .fragment {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;

    &:before {
      content: '';
      position: absolute;
      top: -0.75rem;
      right: 0;
      width: 3.5rem;
      height: 3.5rem;
      border-top: 1.5rem solid #4af;
      border-radius: 100% 0 0;
    }
  }

  // core
  .core-container {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(2px);
  }

  .core {
    position: absolute;
    inset: 0;

    &:before, &:after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 50%;
      opacity: 0;
      animation: 2s ease-in 0s infinite water-core;
      will-change: opacity, transform;
    }

    &:before {
      border-top: 0.125rem solid #6cf;
      border-right: 0.125rem solid #6cf;
    }

    &:after {
      border-bottom: 0.125rem solid #6cf;
      border-left: 0.125rem solid #6cf;
    }
  }

  .button {
    background: oklab(50% 0 -0.1);

    &:hover {
      background: oklab(55% 0 -0.1);
    }

    &:active {
      background: oklab(45% 0 -0.1);
    }
  }
}

// particle animation
@for $i from 1 through 64 {
  $rotation: math.div(360deg, 64) * ($i - 1);

  .water .particle:nth-child(#{$i}) {
    transform: rotate($rotation);

    &:before {
      transform: translateY(0) scale(0.5 * math.random() + 0.5);
      animation-duration: 2s * math.random() + 1s;
      animation-delay: 3s * math.random();
    }

    &:after {
      transform: translateY(0) scale(0.5 * math.random() + 0.5);
      animation-duration: 2s * math.random() + 1s;
      animation-delay: 3s * math.random();
    }
  }
}

// fragment animation
@for $i from 1 through 16 {
  $rotation: math.div(360deg, 16) * ($i - 1);

  .water .fragment:nth-child(#{$i}) {
    transform: rotate($rotation);
  }
}

// core animation
@for $i from 1 through 4 {
  $rotation: math.div(120deg, 4) * ($i - 1);
  $delay: math.div(2s, 8) * ($i - 1);

  .water .core:nth-child(#{$i}) {
    transform: rotate($rotation);

    &:before {
      animation-delay: $delay;
    }

    &:after {
      animation-delay: $delay + 1;
    }
  }
}